include layout_head

main.bs-docs-masthead(id="content", role="main")
  .container
    
    p
      select#retrieveType.form-control.input-lg
        option(value="all",selected="selected")= "All"
        option(value="basic")= "Basic"
        option(value="advance")= "Advance"
        option(value="transfer_basic")= "Transfer Basic"
        option(value="transfer_advance")= "Transfer Advance"
    p.text-center
      button#retrieve.btn.btn-lg.btn-danger retrieve  
    #executor.well
        

include layout_footer